body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    height: 90%;
    width: 90%;
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: left;

}

#function-container {
    width: 35%;
    height: 100%;
    border: 1px solid #cccccc;
}


.column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.prev_text {
    height: 60%;
}
.cur_text{
    height: 20%;
}

#indexed_prev_sent,
#indexed_cur_sent{
    background-color: #e5e5e5;
}


#indexed_prev_sent,
#indexed_cur_sent {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
}

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

button {
    padding: 10px;
    background-color: #1f1f1f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #204801;
}

#RunIndexingButton {
    width: 60%;
    height: 5%;
}