{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="container">
    <div id="main-container">
        <h1 id="main-text">Welcome to Data Collection Center</h1>
        <div id="button-container">
            <button class="data-collection-button" onclick="location.href='{% url 'rom_data_collection' %}'">ROM Data
                Collection
            </button>
        </div>
    </div>

</div>
</body>
</html>
