{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROM merging data collection</title>
    <!-- 正确引用 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'css/ROMdataCollection.css' %}">
    <script src="{% static 'js/dataCollector.js' %}" defer></script>
</head>
<body>
<div class="container">
    <div id="column-container">
        <div id="textarea-container">
            <!-- Left Column with Editable Text Areas -->
            <div class="textarea-column">
                <textarea placeholder="previous sentences" id="prev_sent_text_input" class="prev_text"></textarea>
                <textarea placeholder="current sentences" id="cur_sent_text_input" class="cur_text"></textarea>

            </div>

            <!-- Right Column with Read-Only Text Areas -->
            <div class="textarea-column">
                <div placeholder="previous sentences" contenteditable="false" id="indexed_prev_sent"
                     class="prev_text"></div>
                <div placeholder="current sentences" contenteditable="false" id="indexed_cur_sent"
                     class="cur_text"></div>
            </div>

        </div>
        <button id="RunIndexingButton">Indexing Text</button>
    </div>


    <div id="function-container">
        <div id="dropdown-container">
            <label for="cur_sent_possible_tokens" class="dropdown-label">Current Sentence Tokens:</label>
            <select id="cur_sent_possible_tokens" class="dropdown">
            </select>

            <label for="prev_sent_possible_tokens" class="dropdown-label">Previous Sentence Tokens:</label>
            <select id="prev_sent_possible_tokens" class="dropdown">
            </select>

            <div id="mapping-button-container">
                <button id="mapping">Mapping</button>
                <button id="save">Save</button>
            </div>

        </div>

        <div id="mapping-container">

        </div>


    </div>
</div>

</body>
</html>
