{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROM merging data collection</title>
    <!-- 正确引用 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'css/ROMdataCollection.css' %}">
    <script src="{% static 'js/dataCollector.js' %}" defer></script>
</head>
<body>
<div class="container">
    <!-- Left Column with Editable Text Areas -->
    <div class="column">
        <textarea placeholder="previous sentences" id="prev_sent_text_input" class="prev_text"></textarea>
        <textarea placeholder="current sentences" id="cur_sent_text_input" class="cur_text"></textarea>
        <button id="RunIndexingButton">Indexing Text</button>
    </div>

    <!-- Right Column with Read-Only Text Areas -->
    <div class="column">
        <div placeholder="previous sentences" contenteditable="false" id="indexed_prev_sent" class="prev_text"></div>
        <div placeholder="current sentences" contenteditable="false" id="indexed_cur_sent" class="cur_text"></div>
    </div>


    <div id="function-container">

    </div>
</div>

</body>
</html>
